/*TITLE SECTION*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #8f8f8f;
}

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.container-fluid {
  padding: 3% 15% 7%;
}

#title {
  color: #1b262c;
  text-align: left;
  background-color: #add2c9;
}

/* Headings */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 600;
  color: #2d4654;
}


/* Media Queries */

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}

/* Sections */

.colored-section {
  background-color: #2d4654;
  color: #1b262c;
}

.white-section {
  background-color: #faf9f9;
}

/* NAVIGATION BAR */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  width: 20%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  color: #1b262c;
}

.name-title {
  width: 100%;
}

/* Download Buttons */

.download-btn {
  margin: 5% 3% 5% 0;
}

.link-button {
  text-decoration: none;
  color: #faf9f9;
}

.link-button:hover {
  text-decoration: none;
  color: #faf9f9;
}

/* Title Image */

.title-img {
  position: absolute;
  width: 70%;
  right: 10%;
}

.title-img2 {
  position: absolute;
  width: 60%;
  right: 30%;
}

/* Features */

#features {
  font-family: "Montserrat", sans-serif;
  padding: 6% 15%;
  line-height: 2rem;
  position: relative;
}

#features2 {
  font-family: "Montserrat", sans-serif;
  padding: 3% 15%;
  line-height: 2rem;
  position: relative;
}

.feature-elm {
  line-height: 1.5rem;
  padding: 3%;
  text-align: center;
}

.feature-ttl {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.feature-txt {
  font-weight: lighter;
  color: #8f8f8f;
  text-align: center;
  padding: 0 15%;
}

.feature-icon {
  color: #2d4654;
  font-size: 40px;
}

.feature-icon:hover {
  color: #db2955;
}

.highlight {
  background-color: #db2955;
}

.highlight-facebook {
  background-color: #4267B2;
  border-color: #4267B2;
  font-family: "Montserrat", sans-serif;
}

.highlight-facebook:hover {
  background-color: #4267E2;
  border-color: #4267E2;
}

/* Testimonials */

#testimonials {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 3% 15%;
  line-height: 2rem;
  position: relative;
}

.test-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

.test-text {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

/* Pricing */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

.price-tag {
    font-size: 2rem;
}

/* CTA */

#cta {
  padding: 5% 0 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 2rem;
  position: relative;
}

.cta-text {
  font-weight: bold;
  font-size: 2rem;
  color: #faf9f9;
  padding: 0 15%;
}

.sign-up-text {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  color: #faf9f9;
}

.form-title {
  padding-top: 15%;
  margin-bottom: -20%;
}

/* Footer */

#footer {
  padding: 2%;
  text-align: center;
}

.footer-logo {
  margin: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #1b262c;
}


/* Team */
/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #2d4654;
    border-color: #2d4654;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #db2955;
    border-color: #db2955;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #000;
    margin-bottom: 50px;
    font-weight: bold;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #2d4654 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #2d4654 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* Contact Form */

.contact-form-div {
    background: -webkit-linear-gradient(left, #2d4654, #2d4654);
}

.contact-form{
    background: #faf9f9;
    margin-top: 3%;
    /* margin-bottom: 5%; */
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 2rem;
    width: 17%;
    margin-top: -3%;
    background-color: #faf9f9;
    background-size: 150px;
    padding-left: 17px;
    padding-top: 5px;
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #2d4654;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #db2955;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #2d4654;
    border: none;
    cursor: pointer;
}
